spec:
  template:
    spec:
      containers:
        - 
          resources:
            requests:
              cpu: "0.2"
              memory: 128Mi
            limits:
              cpu: "1.0"
              memory: 512Mi
          ports:
            -
              containerPort: 8101
              name: "sshd"
              protocol: "TCP"
